/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: white; /* White background */
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: #F3D9F9; /* Lighter light purple for contrast */
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #D1A1D0; /* Soft lavender */
    color: black;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #D8B9D6; /* Light purple border */
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #D8B9D6; /* Light purple border */
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #4B0082; /* Indigo color for contrast */
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: #4B0082; /* Indigo color */
    background-color: #D8B9D6; /* Light purple background */
    border-radius: 10px;
    box-shadow: 0 0 15px #D8B9D6; /* Light purple shadow */
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: disc;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
}

/* Button Styling */
button {
    font-family: Arial, sans-serif;
    background-color: #D8B9D6; /* Light purple background */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C46D9D; /* Slightly darker light purple on hover */
}

/* Hide class to toggle visibility */
.hidden {
    display: none;
}
